html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

main {
    height: 100vh;
    background-color: #f4f4f4;
}

.top-header {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    padding-top: 32px;
    font-size: 40px;
}

.add-book {
    display: flex;
    justify-content: center;
}

#book {
    cursor: pointer;
    background-color: #476c41;
    padding: 16px 32px;
    color: #f4f4f4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    position: fixed;
    bottom: 32px;

}

#book:hover {
    background-color: #487e40;
}

#book:active {
    background-color: #487e40;
    padding: 14px 30px;
}