html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 2rem;
    background-color: #f4f4f4;
}

.top-header {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    padding-top: 32px;
    font-size: 40px;
}

.add-book {
    display: flex;
    justify-content: center;
}

#add-button, #book, .read, .not-read, .remove {
    cursor: pointer;
    background-color: #476c41;
    padding: 16px 32px;
    color: #f4f4f4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    margin-top: 16px;
}

#add-button:active, #book:active, .read:active {
    background-color: #487e40;
}

#book {
    position: fixed;
    bottom: 32px;
}

#modal {
    display: none;
    position: absolute;
    margin-top: 32px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(155, 155, 155);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    min-width: 480px;
}

#modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: none;
}

.modal-header {
    display: flex;
}

#close-button {
    cursor: pointer;
    background-color: #686868;
    padding: 16px 28px;
    color: #f4f4f4;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    margin-top: 16px;
}

#close-button:active, .not-read:active {
    background-color: #7c7c7c;
}

#title, #author, #pages {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-top: 4px;
}

#read {
    border-radius: 4px;
}

#book-log {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 28ch);
    gap: 16px;
    justify-content: center;
}

.book-card {
    margin-top: 32px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(155, 155, 155);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.book-title {
    margin: 0;
    font-size: 24px;
}

.book-author {
    margin: 4px 0 0 0;
    font-weight: 400;
    color: #6e6e6e;
}

.page-count {
    font-weight: 500;
}


.read, .not-read {
    padding: 8px 32px;
}

.not-read {
    background-color: #686868;
}

.remove {
    background-color: #583500;
    padding: 8px 6px;
}

.remove:active {
    background-color: #69450f;
}